.App{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4.5% 0;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;

    background-color: #EBF0FDFF;
}

.BOX{
    width: 1200px;
    height: 600px;
    border: none;
    box-shadow: 0 0 15px 1px darkgray;
    border-radius: 20px;
    background-color: #ffffff;
}

@media (max-width: 576px) {
    .BOX{
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
    }
    .App{
        padding: 0 0;
        height: auto;
        background-color: #FFFFFF;
    }
}